<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" http-equiv='Content-Type'>
	<title>Document</title>
</head>
<body>
	<h3>Hi <%= @user.first_name %><%= @user.last_name %></h3>
	<p>Please notice that you have added a new vehicle to the parking system.</p>
</body>
</html>