	<h1>Vehiculos</h1>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<th>Modelo</th>
				<th>Vin</th>
				<th>Year</th>
			</thead>
			<tbody>
			<% @vehicles.each do |vehicle| %>
				<tr>
					<td><%= vehicle.model %></td>
					<td><%= vehicle.vin %></td>
					<td><%= vehicle.year %></td>
				</tr>
			<%end%>
			</tbody>
		</table>
	</div>
<div class="form-group">
	<%= link_to "Add Vehicle", new_user_vehicle_path(@user) , class: 'btn btn-success'%>
</div>